<div class="list-group" dnd-list="$ctrl.cards">
    <div class="list-group-item tg-list-group-item-draggable" 
         ng-repeat="card in $ctrl.cards track by $index" 
         ng-click="$ctrl.openCard(card)"
         dnd-moved="$ctrl.removeCard($ctrl.cards, $index)"
         dnd-effect-allowed="move"
         dnd-draggable="card">
        <div class="row">
            <div class="col-xs-8">
                <a href="" >{{ card.title }}</a>
            </div>
            <div class="col-xs-4 tg-font-13 tg-text-right" style="margin-top: -3px;">
                <span class="label label-success">{{ card.points }} points</span>
            </div>
            <div class="tg-font-13 col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <span >{{ card.assignee.user }} <i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-xs-4">
                        <span ng-show="card.pull_request_linked">
                            Pull Req. <i class="fa fa-code-fork" aria-hidden="true"></i>
                        </span>                           
                    </div>
                    <div class="col-xs-4 tg-text-right">                                
                        <span >
                            <span>{{ card.comments }} <i class="fa fa-comment" aria-hidden="true"></i></span>
                        </span>  
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>