<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Options
                        <a class="btn btn-success btn-sm"
                            ng-click="$ctrl.createAttachment()">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody cg-busy="$ctrl.promise">
                <tr ng-repeat="att in $ctrl.attachments.cards track by $index"
                    style="cursor: pointer;">
                    <td>{{ att.name }}</td>
                    <td>{{ att.desc }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                            ng-click="$ctrl.updateAttachment()">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger btn-sm"
                            ng-click="$ctrl.removeAttachment()">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>