<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Trello - Github</title>

	<link rel="stylesheet" href="/view/node_modules/bootstrap/dist/css/bootstrap.min.css" />

	<link href="/view/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

	<link href="/view/node_modules/ng-toast/dist/ngToast.min.css" rel="stylesheet" />
	
	<link href="/view/css/sb-admin-2.min.css" rel="stylesheet" />
	
	<link href="/view/login/login.css" rel="stylesheet" />

</head>

<body ng-app="app">
	<toast></toast>
	
	<div ng-controller="loginController as vm" class="container">
	    <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-lg btn-block btn-default" ng-click="vm.loginWithTrello()">
                                    <img src="/view/img/trello.png" class="trelloImg" /> Login with Trello
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-lg btn-block btn-default" ng-click="vm.loginWithGithub()">
                                    <img src="/view/img/github_icon.png" class="githubImg" /> Login with Github
                                </button>                                
                            </div>
                        </div>
                         
                        <!--<form role="form">-->
                        <!--    <fieldset>-->
                        <!--        <div class="form-group">-->
                        <!--            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">-->
                        <!--        </div>-->
                        <!--        <div class="form-group">-->
                        <!--            <input class="form-control" placeholder="Password" name="password" type="password" value="">-->
                        <!--        </div>-->
                        <!--        <div class="checkbox">-->
                        <!--            <label>-->
                        <!--                <input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                        <!--            </label>-->
                        <!--        </div>-->
                                <!-- Change this to a button or input when using this as a form -->
                        <!--        <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
                        <!--    </fieldset>-->
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
	</div>		
	<aside></aside>
	<article></article>
	<footer></footer>
</body>
<script src="/view/node_modules/angular/angular.min.js"></script>
<script src="/view/node_modules/angular-i18n/angular-locale_es-ar.js"></script>
<script src="/view/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/view/node_modules/angular-route/angular-route.min.js"></script>
<script src="/view/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

<script src="/view/node_modules/ng-toast/dist/ngToast.min.js"></script>

<script src="/view/node_modules/lodash/lodash.min.js"></script>


<script src="/view/login/login.module.js"></script>
<script src="/view/login/login.run.js"></script>
<script src="/view/login/login.routes.js"></script>
<script src="/view/login/login.config.js"></script>
<script src="/view/login/login.service.js"></script>
<script src="/view/login/login.controller.js"></script>

</html>