.priority-1, .priority-2, .priority-3 {
    background-color: #d9534f;
}
.priority-4, .priority-5, .priority-6 {
    background-color: #f0ad4e;
}
.priority-7, .priority-8, .priority-9, .priority-10 {
    background-color: #777;
}
.tg-card-name {
    width: 30%;
}
.tg-card-labels {
    width: 70%;
}
.tg-card-labels .label {
    margin-right: 2px;
}