<div class="row">
    <div class="col-sm-12" cg-busy="$ctrl.promise">
        <form role="form">
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="$ctrl.card.name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Description</label>
                    <textarea rows="2" class="form-control" ng-model="$ctrl.card.description" placeholder="Description of the requirement."></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label>Business rules</label>
                    <div class="input-group" ng-repeat="business_rule in $ctrl.card.business_rules track by $index" style="margin-bottom: 2px;">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="business_rule.completed">
                        </span>
                        <input type="text" class="form-control" ng-model="business_rule.description">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Assignee</label>
                    <div
                        isteven-multi-select
                        input-model="$ctrl.possible_assignees"
                        output-model="$ctrl.card.assignee"
                        button-label="fullName"
                        item-label="fullName"
                        tick-property="selected"
                    >
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Points</label>
                    <input type="number" class="form-control" ng-model="$ctrl.card.points"  max="15" min="1" placeholder="Points of the card.">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Reporter*</label>
                    <div
                        isteven-multi-select
                        input-model="$ctrl.possible_reporter"
                        output-model="$ctrl.card.reporter"
                        button-label="fullName"
                        item-label="fullName"
                        tick-property="selected"
                    >
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Priority*</label>
                    <input type="number" class="form-control" ng-model="$ctrl.card.priority"  max="10" min="1" placeholder="Priority of the card.">
                </div>
            </div>            
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Issue Link*</label>
                    <div
                        isteven-multi-select
                        input-model="$ctrl.possible_issue_links"
                        output-model="$ctrl.card.issue_links"
                        button-label="name"
                        item-label="name"
                        tick-property="selected"
                    >
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Labels*</label>
                    <div
                        isteven-multi-select
                        input-model="$ctrl.possible_labels"
                        output-model="$ctrl.card.labels"
                        button-label="labels"
                        item-label="labels"
                        tick-property="selected"
                    >
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Attachments*</label>
                    <input type="file" ng-model="$ctrl.card.attachments" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-lg-6 col-sm-6">
                    <button type="submit" class="btn btn-success btn-block" ng-click="$ctrl.saveCard()">Save</button>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <button type="reset" class="btn btn-default btn-block" ng-click="$ctrl.resetCard()">Reset</button>
                </div>
            </div>
        </form> 
    </div>
</div>