<div class="row">
    <div class="col-sm-12"  cg-busy="$ctrl.promise">
        <div class="form-group row">
            <div class="col-lg-12">
                <label>Title:</label>
                <div>{{$ctrl.card.name}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <label>Description:</label>
                <div>{{$ctrl.card.description}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label>Assignee:</label>
                <ul>
                    <li ng-repeat="assigne in $ctrl.card.assignee track by $index">
                        {{assigne.fullName}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Points:</label>
                <div>{{$ctrl.card.points}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label>Reporter:</label>
                <ul>
                    <li ng-repeat="reporter in $ctrl.card.reporter track by $index">
                        {{reporter.fullName}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Priority:</label>
                <div>{{$ctrl.card.priority || 'none'}}</div>
            </div>
        </div>            
        <div class="form-group row" ng-if="$ctrl.card.issue_links && $ctrl.card.issue_links.length > 0">
            <div class="col-md-12">
                <label>Issue Link:</label>
                <ul>
                    <li ng-repeat="issue_link in $ctrl.card.issue_links track by $index">
                        {{issue_link.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group row" ng-if="$ctrl.card.attachments && $ctrl.card.attachments.length > 0">
            <div class="col-lg-12">
                <label>Attachments:</label>
                <ul>
                    <li ng-repeat="attachment in $ctrl.card.attachments track by $index">
                        {{attachment.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <label>Pull request:</label>
                <div
                    isteven-multi-select
                    input-model="$ctrl.possible_pull_request"
                    output-model="$ctrl.card.pull_request"
                    button-label="title"
                    item-label="title"
                    tick-property="selected"
                    selection-mode="single"
                    on-item-click="$ctrl.selectPullRequest(data)"
                ></div>
            </div>
        </div>
    </div>
</div>
