<link rel="stylesheet" href="/view/analysis/analysis.css" />

<div class="row form-group">
    <div class="col-lg-12">
        <tg-header-component header-title="'Requeriments'"></tg-header-component>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Rason</th>
                    <th>Origin</th>
                    <th>Priority</th>
                    <th>
                        Requeriment links <i class="fa fa-info-circle" 
                                             aria-hidden="true" 
                                             tooltip-placement="top" 
                                             uib-tooltip="Dependence with others requeriments"></i>
                    </th>
                    <th>Use case</th>
                    <th>
                        Cards <i class="fa fa-info-circle" 
                                 aria-hidden="true" 
                                 tooltip-placement="top" 
                                 uib-tooltip="Cards created from the requeriment"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="req in vm.requeriments track by $index" style="cursor: pointer;" ng-click="vm.openRequeriment(req)">
                    <td>{{ req.title }}</td>
                    <td>{{ req.rason }}</td>
                    <td>{{ req.origin }}</td>
                    <td>{{ req.priority }}</td>
                    <td>{{ req.dependencies }}</td>
                    <td>{{ req.use_case }}</td>
                    <td>{{ req.cards }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <tg-header-component header-title="'Sprints'"></tg-header-component>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <tg-panel type="success"
                  icon="fa-list"
                  quantity-cards="vm.backlog.quantity_cards"
                  huge-title="'Backlog'"
                  on-click="vm.openBacklog(item)"
                  item-param=""            
        ></tg-panel>
        <div ng-if="vm.backlog.opened">
            <tg-cards cards="vm.backlog.cards"></tg-cards>
        </div>
    </div>

    <div class="col-lg-3" ng-repeat="sprint in vm.sprints track by $index">
        <tg-panel type="{{sprint.state == 'Open' ? 'info' : 'warning'}}"
                  icon="{{sprint.state == 'Open' ? 'fa-folder-open-o' : 'fa-lock'}}"
                  quantity-cards="sprint.quantity_cards"
                  huge-title="sprint.title"
                  medium-title="sprint.points_total"
                  last-title="sprint.state"
                  on-click="vm.openSprint(item)"
                  item-param="sprint"            
        ></tg-panel>
        <div ng-if="sprint.opened">
            <tg-cards cards="sprint.cards"></tg-card>
        </div>
    </div>
</div>