<link rel="stylesheet" href="/view/analysis/analysis.css" />

<div class="row form-group">
    <div class="col-lg-12">
        <tg-header-component header-title="'Requeriments'"></tg-header-component>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Rason</th>
                    <th>Origin</th>
                    <th>Priority</th>
                    <th>
                        Requeriment links <i class="fa fa-info-circle" 
                                             aria-hidden="true" 
                                             tooltip-placement="top" 
                                             uib-tooltip="Dependence with others requeriments"></i>
                    </th>
                    <th>Use case</th>
                    <th>
                        Cards <i class="fa fa-info-circle" 
                                 aria-hidden="true" 
                                 tooltip-placement="top" 
                                 uib-tooltip="Cards created from the requeriment"></i>
                    </th>
                </tr>
            </thead>
            <tbody cg-busy="vm.promiseLists">
                <tr ng-repeat="req in vm.requeriments.cards track by $index" style="cursor: pointer;" ng-click="vm.openRequeriment(req)">
                    <td>{{ req.name }}</td>
                    <td>{{ req.rason }}</td>
                    <td>{{ req.origin }}</td>
                    <td>{{ req.priority }}</td>
                    <td>{{ req.dependencies }}</td>
                    <td>{{ req.use_case }}</td>
                    <td>{{ req.cards }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <tg-header-component header-title="'Sprints'"></tg-header-component>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <tg-sprints></tg-sprints>
    </div>
</div>