<link rel="stylesheet" href="/view/requirements/requirements.css" />

<div class="row" cg-busy="vm.promiseLists">
    <div class="col-lg-4 col-sm-6">
        <tg-panel type="primary"
                  icon="fa-comments"
                  huge-title="'Requeriments'"
                  large-title="vm.requeriments.cards.length"                          
        ></tg-panel>
        <div class="list-group" cg-busy="vm.updateRequerimentPromise">
            <a href="" class="list-group-item" 
                ng-click="vm.openRequeriment(requeriment)"
                ng-repeat="requeriment in vm.requeriments.cards track by $index">
                <div class="row">
                    <div class="col-xs-6">
                        {{requeriment.name}}
                    </div>
                    <div class="col-xs-4">
                        <span>{{requeriment.dateLastActivity | date: 'dd/MM/yyyy HH:mm'}}</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="badge badge-success">{{requeriment.priority}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-8 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading huge">
                Create new requeriment
            </div>
            <div class="panel-body" cg-busy="vm.createCardPromise">
                <tg-create-requeriment save="vm.saveRequeriment(requeriment)"></tg-create-requeriment>
            </div>            
        </div>
    </div>
</div>