<link rel="stylesheet" href="/view/requirements/requirements.css" />

<div class="row">
    <div class="col-lg-4 col-sm-6">
        <tg-panel type="primary"
                  icon="fa-comments"
                  huge-title="'Requeriments'"
                  large-title="2"                          
        ></tg-panel>
        <div class="list-group">
            <a href="" class="list-group-item" 
                ng-click="vm.openRequeriment(requeriment)"
                ng-repeat="requeriment in vm.requeriments track by $index">
                <div class="row">
                    <div class="col-xs-8">
                        {{requeriment.description}}
                    </div>
                    <div class="col-xs-2">
                        <span>11/06</span>
                    </div>
                    <div class="col-xs-2">
                        <span class="badge badge-success">{{requeriment.priority}}</span>
                    </div>
                </div>
            </a>
            <!--<div class="list-group-item well" ng-show="requeriment.opened">-->
            <!--    <tg-requeriment save="vm.updateRequeriment(requeriment)" requeriment="requeriment"></tg-requeriment>-->
            <!--</div>-->
        </div>
    </div>
    <div class="col-lg-8 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading huge">
                Create new requeriment
            </div>
            <div class="panel-body">
                <tg-requeriment save="vm.saveRequeriment(requeriment)"></tg-requeriment>
            </div>            
        </div>
    </div>
</div>