<link rel="stylesheet" href="/proyectotesis/view/verification_validation/verification_validation.css" />
<div class="row">
    <div class="col-lg-3">
        <tg-panel type="success"
                  icon="fa-list"
                  quantity-cards="vm.backlog.quantity_cards"
                  huge-title="'Backlog'"
                  on-click="vm.openBacklog(item)"
                  item-param=""            
        ></tg-panel>
        <div class="list-group" ng-if="vm.backlog.opened" dnd-list="vm.backlog.cards">
            <div class="list-group-item tg-list-group-item-draggable" 
                 ng-repeat="card in vm.backlog.cards track by $index" 
                 ng-click="vm.openCard(card)"
                 dnd-moved="vm.removeCard(vm.backlog.cards, $index)"
                 dnd-effect-allowed="move"
                 dnd-draggable="card">
                <div class="row">
                    <div class="col-xs-8">
                        <a href="" >{{ card.title }}</a>
                    </div>
                    <div class="col-xs-4 tg-font-13 tg-text-right" style="margin-top: -3px;">
                        <span class="label label-success">{{ card.points }} points</span>
                    </div>
                    <div class="tg-font-13 col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <span >{{ card.assignee.user }} <i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-xs-4">
                                <span ng-show="card.pull_request_linked">
                                    Pull Req. <i class="fa fa-code-fork" aria-hidden="true"></i>
                                </span>                           
                            </div>
                            <div class="col-xs-4 tg-text-right">                                
                                <span >
                                    <span>{{ card.comments }} <i class="fa fa-comment" aria-hidden="true"></i></span>
                                </span>  
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <div class="col-lg-3" ng-repeat="sprint in vm.sprints track by $index">
        <tg-panel type="{{sprint.state == 'Open' ? 'info' : 'warning'}}"
                  icon="{{sprint.state == 'Open' ? 'fa-folder-open-o' : 'fa-lock'}}"
                  quantity-cards="sprint.quantity_cards"
                  huge-title="sprint.title"
                  large-title="sprint.quantity_pull_requests + ' Pull request'"
                  medium-title="sprint.points_made + ' - ' + sprint.points_total"
                  last-title="sprint.state"
                  on-click="vm.openSprint(item)"
                  item-param="sprint"            
        ></tg-panel>
        <div class="list-group" ng-if="sprint.opened" dnd-list="sprint.cards">
            <div class="list-group-item tg-list-group-item-draggable" 
                 ng-repeat="card in sprint.cards track by $index" 
                 ng-click="vm.openCard(card)"
                 dnd-moved="vm.removeCard(sprint.cards, $index)"
                 dnd-effect-allowed="move"
                 dnd-draggable="card">
                <div class="row">
                    <div class="col-xs-8">
                        <a href="" >{{ card.title }}</a>
                    </div>
                    <div class="col-xs-4 tg-font-13 tg-text-right" style="margin-top: -3px;">
                        <span class="label label-success">{{ card.points }} points</span>
                    </div>
                    <div class="tg-font-13 col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <span >{{ card.assignee.user }} <i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-xs-4">
                                <span ng-show="card.pull_request_linked">
                                    Pull Req. <i class="fa fa-code-fork" aria-hidden="true"></i>
                                </span>                           
                            </div>
                            <div class="col-xs-4 tg-text-right">                                
                                <span >
                                    <span>{{ card.comments }} <i class="fa fa-comment" aria-hidden="true"></i></span>
                                </span>  
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
