<div class="row">
    <div class="col-sm-12">
        <div class="panel"
            ng-class="{
                'panel-success': !$ctrl.list.closed && $ctrl.list.name !== 'Backlog', 
                'panel-warning': $ctrl.list.closed,
                'panel-primary': $ctrl.list.name == 'Backlog'}"
            dnd-list="$ctrl.list.cards"
            dnd-inserted="$ctrl.inserted(index, item, external, type)"
            cg-busy="$ctrl.promise">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span>
                            <i class="fa fa-5x"
                                ng-class="{
                                'fa-list': $ctrl.list.name == 'Backlog',
                                'fa-lock': $ctrl.list.closed,
                                'fa-folder-open-o': !$ctrl.list.closed && $ctrl.list.name !== 'Backlog'
                                }"></i>
                        </span>
                        <!--<span class="huge" ng-if="$ctrl.list.cards.length > 0">-->
                        <!--    {{$ctrl.list.cards.length}}-->
                        <!--    <img src="/view/img/trello.png" class="trelloImg" />-->
                        <!--</span>-->
                        
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{$ctrl.list.name}}</div>
                        <div class="medium"
                            ng-if="$ctrl.list.name !== 'Backlog'
                            && $ctrl.list.name !== 'Requeriments'">
                            <span class="label label-primary">
                                {{ $ctrl.list.cards.length }}
                                &nbsp;
                                <i class="fa fa-trello" aria-hidden="true"></i>
                            </span>
                            &nbsp;&nbsp;
                            <span class="label label-success">
                                {{ $ctrl.list.points_made }}
                                &nbsp;
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </span>
                            &nbsp;&nbsp;
                            <span class="label label-warning">
                                {{ $ctrl.list.points_to_do }}
                                &nbsp;
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </span>
                        </div>                        
                        <div ng-if="$ctrl.list.closed">Closed</div>
                        <div ng-if="!$ctrl.list.closed">Opened</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer panel-footer-clickable" ng-click="$ctrl.click()">
                <span class="pull-left">View</span>
                <span class="pull-right">
                    <i class="fa fa-arrow-circle-right"></i>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-if="$ctrl.list.opened">
            <tg-list-cards 
                id-list="$ctrl.list.id"
                allow-move-card="$ctrl.allowMoveCard"
                on-open="$ctrl.onOpen(promise)"
                type="$ctrl.type"
                on-remove="$ctrl.onRemove(card)"></tg-list-cards>
        </div>
    </div>
</div>
