<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
       Add user
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row form-group">
        <label for="" class="col-sm-12">Email:</label>
        <div class="col-sm-12">
            <div class="input-group">
                <input type="email" name="email" ng-model="vm.email" class="form-control"  placeholder="User email"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-disabled="vm.serchingUser" ng-click="vm.findUser()">
                        Find
                        <i ng-show="!vm.serchingUser" class="fa fa-search" aria-hidden="true"></i>
                        <i ng-show="vm.serchingUser" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6">
            <div class="panel panel-default" ng-if="vm.trelloUser.id">
                <div class="panel-heading">Trello Information</div>
                <div class="panel-body">
                    <div class="row form-group">
                        <label for="" class="col-sm-12">Name:</label>
                        <div class="col-sm-12">
                            {{ vm.trelloUser.fullName }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="" class="col-sm-12">Username:</label>
                        <div class="col-sm-12">
                            {{ vm.trelloUser.username }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>User roles</label>
                             <div
                                isteven-multi-select
                                input-model="vm.possible_roles"
                                output-model="vm.trelloUser.roles"
                                button-label="name"
                                item-label="name"
                                selection-mode="single"
                                tick-property="selected">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default" ng-if="vm.githubUser.id">
                <div class="panel-heading">GitHub Information</div>
                <div class="panel-body">
                    <div class="row form-group">
                        <label for="" class="col-sm-12">Name:</label>
                        <div class="col-sm-12">
                            {{ vm.githubUser.name }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="" class="col-sm-12">Username:</label>
                        <div class="col-sm-12">
                            {{ vm.githubUser.login }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="vm.createUser()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>