<nav class="navbar navbar-findcond navbar-fixed-top"
    ng-class="{'hidden' : 
        $ctrl.active !== '/requirements' &&
        $ctrl.active !== '/analysis' &&
        $ctrl.active !== '/development' &&
        $ctrl.active !== '/verificationvalidation' &&
        $ctrl.active !== '/configuration'}">
	<div class="container">				
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-left">											
				<li tg-roles="Admin,Requeriment">
					<a href="#/requirements" ng-class="{'active': $ctrl.active == '/requirements'}" ng-click="$ctrl.changeOfLocation('/requirements')">
						Product Backlog
					</a>
				</li>
				<li tg-roles="Admin,Analysis">
					<a href="#/analysis" ng-class="{'active': $ctrl.active == '/analysis'}" ng-click="$ctrl.changeOfLocation('/analysis')">
						Sprints
					</a>
				</li>
				<li tg-roles="Admin,Developmen">
					<a href="#/development" ng-class="{'active': $ctrl.active == '/development'}" ng-click="$ctrl.changeOfLocation('/development')">
						Development
					</a>
				</li>
				<li tg-roles="Admin,Verification_Validation">
					<a href="#/verificationvalidation" ng-class="{'active': $ctrl.active == '/verificationvalidation'}" ng-click="$ctrl.changeOfLocation('/verificationvalidation')">
						Verification and Validation
					</a>							
				</li>
				<li>
					<a href="#/configuration" ng-class="{'active': $ctrl.active == '/configuration'}" ng-click="$ctrl.changeOfLocation('/configuration')">Configuration</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
