<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Trello - Github</title>

	<link rel="stylesheet" href="/proyectotesis/view/node_modules/bootstrap/dist/css/bootstrap.min.css" />

	<link href="/proyectotesis/view/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

	<link href="/proyectotesis/view/node_modules/ng-toast/dist/ngToast.min.css" rel="stylesheet" />
	<link href="/proyectotesis/view/node_modules/ui-select/dist/select.min.css" rel="stylesheet" />

	<link href="/proyectotesis/view/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<link href="/proyectotesis/view/bower_components/fullcalendar/dist/fullcalendar.css"/>

	<link rel="stylesheet" href="/proyectotesis/view/css/base.css" />
	<link rel="stylesheet" href="/proyectotesis/view/css/landing-page.css" />

</head>

<body ng-app="app">
	<toast></toast>
	<header ng-controller="navController as vm">
		<nav class="navbar navbar-findcond navbar-fixed-top">
			<div class="container">				
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="" ng-class="{'active': vm.active == '/verificacionvalidacion'}">
								Verificación y Validación
							</a>							
						</li>						
						<li>
							<a href="#">Requerimientos</a>
						</li>
						<li>
							<a href="#">Desarrollo</a>
						</li>
						<li>
							<a href="#">Estadísticas</a>
						</li>
						<li>
							<a href="#">Diseño</a>
						</li>
						<li>
							<a href="#">Configuración</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<section ng-view="" style="margin-top: 100px;" id="page-wrap">
	</section>		
	<aside></aside>
	<article></article>
	<footer></footer>
</body>
<script src="/proyectotesis/view/node_modules/angular/angular.min.js"></script>
<script src="/proyectotesis/view/node_modules/angular-i18n/angular-locale_es-ar.js"></script>
<script src="/proyectotesis/view/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/proyectotesis/view/node_modules/angular-route/angular-route.min.js"></script>
<script src="/proyectotesis/view/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

<script src="/proyectotesis/view/node_modules/ng-toast/dist/ngToast.min.js"></script>
<script src="/proyectotesis/view/node_modules/ui-select/dist/select.min.js"></script>
<script src="/proyectotesis/view/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="/proyectotesis/view/node_modules/lodash/lodash.min.js"></script>

<script src="/proyectotesis/view/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="/proyectotesis/view/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/proyectotesis/view/bower_components/moment/min/moment.min.js"></script>
<script src="/proyectotesis/view/bower_components/angular-ui-calendar/src/calendar.js"></script>
<!-- jquery, moment, and angular have to get included before fullcalendar -->
<script src="/proyectotesis/view/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/proyectotesis/view/bower_components/fullcalendar/dist/gcal.js"></script>

<script src="/proyectotesis/view/js/app.module.js"></script>
<script src="/proyectotesis/view/js/app.run.js"></script>
<script src="/proyectotesis/view/js/app.routes.js"></script>
<script src="/proyectotesis/view/js/app.config.js"></script>

<script src="/proyectotesis/view/filters/filters.module.js"></script>
<script src="/proyectotesis/view/filters/buscador.filter.js"></script>
<script src="/proyectotesis/view/filters/percentage.filter.js"></script>

<script src="/proyectotesis/view/services/services.module.js"></script>
<script src="/proyectotesis/view/services/storage.service.js"></script>
<script src="/proyectotesis/view/services/pull_request.service.js"></script>

<script src="/proyectotesis/view/components/components.module.js"></script>
<script src="/proyectotesis/view/components/header/header.component.js"></script>
<script src="/proyectotesis/view/components/focus-element/focus-element.directive.js"></script>
<script src="/proyectotesis/view/components/calendario/calendario.module.js"></script>
<script src="/proyectotesis/view/components/calendario/calendario.component.js"></script>

<script src="/proyectotesis/view/nav/nav.module.js"></script>
<script src="/proyectotesis/view/nav/nav.controller.js"></script>

<script src="/proyectotesis/view/verificacion_validacion/verificacion_validacion.module.js"></script>
<script src="/proyectotesis/view/verificacion_validacion/verificacion_validacion.controller.js"></script>
<script src="/proyectotesis/view/verificacion_validacion/calendario/calendario.controller.js"></script>

</html>