<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	
	<title>Trello - Github</title>

	<link rel="stylesheet" href="/view/node_modules/bootstrap/dist/css/bootstrap.min.css" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

	<link href="/view/node_modules/ng-toast/dist/ngToast.min.css" rel="stylesheet" />
	<link href="/view/node_modules/ui-select/dist/select.min.css" rel="stylesheet" />

	<link href="/view/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<link href="/view/bower_components/fullcalendar/dist/fullcalendar.css"/>
	<link rel="stylesheet" href="/view/bower_components/isteven-angular-multiselect/isteven-multi-select.css">
	<link rel="stylesheet" href="/view/bower_components/angular-busy/dist/angular-busy.min.css" />

	<link rel="stylesheet" href="/view/css/base.css" />
	<link rel="stylesheet" href="/view/css/base_sb_admin.css" />
	<link rel="stylesheet" href="/view/css/style.css" />
	
	<link rel="stylesheet" href="/view/components/timeline/timeline.css" />
	<link rel="stylesheet" href="/view/components/panel/panel.css" />
	<link rel="stylesheet" href="/view/components/card/card.css" />

</head>

<body ng-app="app">
	<toast></toast>
	<header>
		<tg-nav></tg-nav>
	</header>
	<div ng-view="" style="margin-top: 100px;" id="page-wrap">
	</div>		
	<aside></aside>
	<article></article>
	<footer></footer>
</body>

<script src="/view/node_modules/angular/angular.min.js"></script>
<script src="/view/node_modules/angular-i18n/angular-locale_es-ar.js"></script>
<script src="/view/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/view/node_modules/angular-route/angular-route.min.js"></script>
<script src="/view/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/view/node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>

<script src="/view/node_modules/jquery/dist/jquery.min.js"></script>

<script src="/view/node_modules/ng-toast/dist/ngToast.min.js"></script>
<script src="/view/node_modules/ui-select/dist/select.min.js"></script>
<script src="/view/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="/view/node_modules/lodash/lodash.min.js"></script>
<script src="/view/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
<script src="/view/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

<script src="/view/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="/view/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/view/bower_components/moment/min/moment.min.js"></script>
<script src="/view/bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="/view/bower_components/angular-busy/dist/angular-busy.min.js"></script>

<!-- jquery, moment, and angular have to get included before fullcalendar -->
<script src="/view/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/view/bower_components/fullcalendar/dist/gcal.js"></script>

<script src="/view/bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>

<script src="https://trello.com/1/client.js?key=4542a25c559e28c2ecaaf43c0799106a"></script>

<script src="/view/js/app.module.js"></script>
<script src="/view/js/app.run.js"></script>
<script src="/view/js/app.routes.js"></script>
<script src="/view/js/app.config.js"></script>

<script src="/view/filters/filters.module.js"></script>
<script src="/view/filters/buscador.filter.js"></script>
<script src="/view/filters/percentage.filter.js"></script>
<script src="/view/filters/unsafe.filter.js"></script>

<script src="/view/interceptors/interceptors.module.js"></script>
<script src="/view/interceptors/trello.interceptor.js"></script>

<script src="/view/directives/directives.module.js"></script>
<script src="/view/directives/roles/roles.directive.js"></script>

<script src="/view/ui_services/ui_services.module.js"></script>

<script src="/view/ui_services/attachment/attachment.service.js"></script>
<script src="/view/ui_services/attachment/create_attachment.controller.js"></script>

<script src="/view/ui_services/card/card.service.js"></script>
<script src="/view/ui_services/card/card.controller.js"></script>
<script src="/view/ui_services/card/update_card.controller.js"></script>

<script src="/view/ui_services/requeriment/requeriment.service.js"></script>
<script src="/view/ui_services/requeriment/update_requeriment.controller.js"></script>
<script src="/view/ui_services/requeriment/create_cards_from_requeriment.controller.js"></script>

<script src="/view/services/services.module.js"></script>
<script src="/view/services/storage.service.js"></script>
<script src="/view/services/session.service.js"></script>
<script src="/view/services/trello.service.js"></script>
<script src="/view/services/github.service.js"></script>
<script src="/view/services/json_formatter.service.js"></script>
<script src="/view/services/get_mocked_objects.service.js"></script>

<script src="/view/components/components.module.js"></script>

<script src="/view/components/timeline/timeline.component.js"></script>
<script src="/view/components/nav/nav.component.js"></script>
<script src="/view/components/panel/panel.component.js"></script>

<script src="/view/components/attachments/attachments.component.js"></script>
<script src="/view/components/attachments/list_attachments.controller.js"></script>
<script src="/view/components/attachments/create_attachments.controller.js"></script>

<script src="/view/components/card/card.component.js"></script>
<script src="/view/components/card/create_card.controller.js"></script>
<script src="/view/components/card/list_cards.controller.js"></script>
<script src="/view/components/card/update_card.controller.js"></script>
<script src="/view/components/card/detail_card.controller.js"></script>

<script src="/view/components/sprints/sprints.component.js"></script>
<script src="/view/components/github/github.component.js"></script>
<script src="/view/components/header/header.component.js"></script>

<script src="/view/components/requeriment/requeriment.component.js"></script>
<script src="/view/components/requeriment/create_requeriment.controller.js"></script>
<script src="/view/components/requeriment/detail_requeriment.controller.js"></script>
<script src="/view/components/requeriment/update_requeriment.controller.js"></script>
<!--<script src="/view/components/focus-element/focus-element.directive.js"></script>
<script src="/view/components/calendario/calendario.module.js"></script>
<script src="/view/components/calendario/calendario.component.js"></script>-->


<script src="/view/verification_validation/verification_validation.module.js"></script>
<script src="/view/verification_validation/verification_validation.controller.js"></script>
<script src="/view/verification_validation/calendar/calendar.controller.js"></script>

<script src="/view/requirements/requirements.module.js"></script>
<script src="/view/requirements/requirements.controller.js"></script>

<script src="/view/login/login.module.js"></script>
<script src="/view/login/login.controller.js"></script>

<script src="/view/configuration/configuration.module.js"></script>
<script src="/view/configuration/configuration.controller.js"></script>

<script src="/view/development/development.module.js"></script>
<script src="/view/development/development.controller.js"></script>

<script src="/view/analysis/analysis.module.js"></script>
<script src="/view/analysis/analysis.controller.js"></script>

<script src="/view/board/board.module.js"></script>
<script src="/view/board/board.controller.js"></script>
<script src="/view/board/create_board.controller.js"></script>
<script src="/view/board/teams/create_team.controller.js"></script>
<script src="/view/board/teams/create_user.controller.js"></script>

<script src="/view/repository/repository.module.js"></script>
<script src="/view/repository/repository.controller.js"></script>
<script src="/view/repository/create_repository.controller.js"></script>
</html>